<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intbyte.wizbuddy.mapper.TaskMapper">
    <resultMap type="com.intbyte.wizbuddy.task.domain.TaskMybatis" id="taskResultMap">
        <id property="taskCode" column="task_code"/>
        <result property="taskContents" column="task_contents"/>
        <result property="taskFlag" column="task_flag"/>
        <result property="taskFixedState" column="task_fixed_state"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="shopCode" column="shop_code"/>
    </resultMap>

    <select id="findAllTask" resultMap="taskResultMap">
       SELECT
              A.task_code
            , A.task_contents
            , A.task_flag
            , A.task_fixed_state
            , A.created_at
            , A.updated_at
            , A.shop_code
         FROM Task A
    </select>

    <select id="findTaskById" resultMap="taskResultMap" parameterType="int">
       SELECT
              A.task_code
            , A.task_contents
            , A.task_flag
            , A.task_fixed_state
            , A.created_at
            , A.updated_at
            , A.shop_code
         FROM Task A
        WHERE A.task_code = #{ taskCode }
    </select>

    <!-- 존재하는 업무만 find -->
    <select id="findAllTasksByTaskFlag" resultMap="taskResultMap">
       SELECT
              A.task_code
            , A.task_contents
            , A.task_flag
            , A.task_fixed_state
            , A.created_at
            , A.updated_at
            , A.shop_code
         FROM Task A
        WHERE A.task_flag = true
    </select>

    <!-- 고정된 업무만 find -->
    <select id="findAllTaskByFixedState" resultMap="taskResultMap">
       SELECT
              A.task_code
            , A.task_contents
            , A.task_flag
            , A.task_fixed_state
            , A.created_at
            , A.updated_at
            , A.shop_code
         FROM Task A
        WHERE A.task_fixed_state = true
    </select>


    <!-- 특정 매장의 모든 업무 find -->
    <select id="findAllTaskByShopCode" resultMap="taskResultMap" parameterType="int">
       SELECT
              A.task_code
            , A.task_contents
            , A.task_flag
            , A.task_fixed_state
            , A.created_at
            , A.updated_at
            , A.shop_code
         FROM Task A
        WHERE A.task_flag = true AND A.shop_code = #{ shopCode }
    </select>

    <!-- 특정 매장의 고정된 업무만 find -->
    <select id="findAllTaskByShopCodeByFixedState" resultMap="taskResultMap" parameterType="int">
       SELECT
              A.task_code
            , A.task_contents
            , A.task_flag
            , A.task_fixed_state
            , A.created_at
            , A.updated_at
            , A.shop_code
         FROM Task A
        WHERE A.task_flag = true AND A.shop_code = #{ shopCode } AND A.task_fixed_state = true
    </select>

    <!-- 특정 매장의 비고정된 업무만 업무만 find -->
    <select id="findAllTaskByShopCodeByNonFixedState" resultMap="taskResultMap" parameterType="int">
       SELECT
              A.task_code
            , A.task_contents
            , A.task_flag
            , A.task_fixed_state
            , A.created_at
            , A.updated_at
            , A.shop_code
         FROM Task A
        WHERE A.task_flag = true AND A.shop_code = #{ shopCode } AND A.task_fixed_state = false
    </select>
</mapper>