<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intbyte.wizbuddy.mapper.CommentMapper">
    <resultMap id="CommentResultMap" type="com.intbyte.wizbuddy.comment.domain.Entity.Comment">
        <id property="commentCode" column="COMMENT_CODE"/>
        <result property="comment_contents" column="COMMENT_CONTENTS"/>
        <result property="comment_flag" column="COMMENT_FLAG"/>
        <result property="comment_adopted_state" column="COMMENT_ADOPTED_STATE"/>
        <result property="created_at" column="CREATED_AT"/>
        <result property="updated_at" column="UPDATED_AT"/>
        <result property="subsCode" column="SUBS_CODE"/>
        <result property="employeeCode" column="EMPLOYEE_CODE"/>
    </resultMap>

    <select id="selectAllComment" resultMap="CommentResultMap" >
        SELECT
        C.COMMENT_CODE
        , C.COMMENT_CONTENTS
        , C.COMMENT_FLAG
        , C.COMMENT_ADOPTED_STATE
        , C.CREATED_AT
        , C.UPDATED_AT
        , C.SUBS_CODE
        , C.EMPLOYEE_CODE
        FROM COMMENTS C
    </select>

</mapper>