<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intbyte.wizbuddy.mapper.ShopMapper">
    <resultMap type="com.intbyte.wizbuddy.shop.dto.ShopDTO" id="shopResultMap">
        <id property="shopCode" column="shop_code"/>
        <result property="shopName" column="shop_name"/>
        <result property="shopLocation" column="shop_location"/>
        <result property="shopFlag" column="shop_flag"/>
        <result property="shopOpenTime" column="shop_open_time"/>
        <result property="businessNum" column="business_num"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <association property="employer" javaType="com.intbyte.wizbuddy.user.domain.entity.Employer" resultMap="employerResultMap"/>
    </resultMap>

    <resultMap id="employerResultMap" type="com.intbyte.wizbuddy.user.domain.entity.Employer">
        <id property="employerCode" column="employer_code"/>
        <result property="employerName" column="employer_name"/>
        <result property="employerEmail" column="employer_email"/>
        <result property="employerPassword" column="employer_password"/>
        <result property="employerPhone" column="employer_phone"/>
        <result property="employerFlag" column="employer_flag"/>
        <result property="employerBlackState" column="employer_black_state"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>


    <select id="findByBusinessNum" resultType="string" parameterType="string">
        SELECT
            S.business_num
        FROM shop S
        WHERE S.business_num = #{ businessNum }
    </select>
</mapper>
