<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intbyte.wizbuddy.mapper.SubsBoardMapper">
    <resultMap id="SubsBoardResultMap" type="com.intbyte.wizbuddy.board.domain.entity.SubsBoard">
        <id property="subsCode" column="SUBS_CODE"/>
        <result property="subsTitle" column="SUBS_TITLE"/>
        <result property="subsContent" column="SUBS_CONTENT"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="subsFlag" column="SUBS_FLAG"/>
        <result property="employeeWorkingPartCode" column="WORKING_PART_CODE"/>
        <result property="shopCode" column="SHOP_CODE"/>
    </resultMap>

    <select id="selectAllSubsBoard" resultMap="SubsBoardResultMap" >
        SELECT
        S.SUBS_CODE
        , S.SUBS_TITLE
        , S.SUBS_CONTENT
        , S.CREATED_AT
        , S.UPDATED_AT
        , S.SUBS_FLAG
        , S.WORKING_PART_CODE
        , S.SHOP_CODE
        FROM SUBSTITUTION_BOARD S
    </select>

    <select id="selectSubsBoardById" resultMap="SubsBoardResultMap" parameterType="_int">
        SELECT
        S.SUBS_CODE
        , S.SUBS_TITLE
        , S.SUBS_CONTENT
        , S.CREATED_AT
        , S.UPDATED_AT
        , S.SUBS_FLAG
        , S.WORKING_PART_CODE
        , S.SHOP_CODE
        FROM SUBSTITUTION_BOARD S
        WHERE S.SUBS_CODE = #{ subsCode }
    </select>



</mapper>