<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intbyte.wizbuddy.mapper.TaskPerCheckListMapper">
    <resultMap id="taskPerChecklistResultMap" type="com.intbyte.wizbuddy.taskperchecklist.domain.TaskPerCheckListMybatis">
        <!-- 복합 키 매핑 -->
        <id property="taskCode" column="task_code"/>
        <id property="checkListCode" column="checklist_code"/>

        <!-- 나머지 필드 매핑 -->
        <result property="taskFinishedState" column="task_finished_state"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="employeeCode" column="employee_code"/>
    </resultMap>

    <!-- 특정 TaskPerCheckList 조회 -->
    <select id="findAllTaskPerCheckList" resultMap="taskPerChecklistResultMap">
        SELECT
             A.TASK_CODE
           , A.CHECKLIST_CODE
           , A.TASK_FINISHED_STATE
           , A.CREATED_AT
           , A.UPDATED_AT
           , A.EMPLOYEE_CODE
        FROM taskperchecklist A
    </select>

    <!-- 특정 TaskPerCheckList 조회 -->
    <select id="findTaskPerCheckListById" parameterType="map" resultMap="taskPerChecklistResultMap">
        SELECT
             A.TASK_CODE
           , A.CHECKLIST_CODE
           , A.TASK_FINISHED_STATE
           , A.CREATED_AT
           , A.UPDATED_AT
           , A.EMPLOYEE_CODE
        FROM taskperchecklist A
        WHERE TASK_CODE = #{ taskCode } AND CHECKLIST_CODE = #{ checkListCode }
    </select>


<!--    &lt;!&ndash; 특정 TaskPerCheckList 조회 &ndash;&gt;-->
<!--    <select id="findTaskPerCheckListById" parameterType="map" resultMap="taskPerChecklistResultMap">-->
<!--        SELECT-->
<!--             A.TASK_CODE-->
<!--           , A.CHECKLIST_CODE-->
<!--           , A.TASK_FINISHED_STATE-->
<!--           , A.CREATED_AT-->
<!--           , A.UPDATED_AT-->
<!--           , A.EMPLOYEE_CODE-->
<!--        FROM taskperchecklist A-->
<!--        WHERE TASK_CODE = #{ taskCode } AND CHECKLIST_CODE = #{ checkListCode }-->
<!--    </select>-->


<!--    <resultMap id="findAllTaskPerCheckList" type="com.intbyte.wizbuddy.taskperchecklist.domain.entity.TaskPerCheckList">-->
<!--        &lt;!&ndash; 복합 키 매핑 &ndash;&gt;-->
<!--        <id property="taskPerChecklistId.taskCode" column="TASK_CODE"/>-->
<!--        <id property="taskPerChecklistId.checkListCode" column="CHECKLIST_CODE"/>-->

<!--        &lt;!&ndash; 나머지 필드 매핑 &ndash;&gt;-->
<!--        <result property="taskFinishedState" column="TASK_FINISHED_STATE"/>-->
<!--        <result property="createdAt" column="CREATED_AT"/>-->
<!--        <result property="updatedAt" column="UPDATED_AT"/>-->

<!--        &lt;!&ndash; 외래 키 매핑 (Task 엔티티와 연결) &ndash;&gt;-->
<!--        <association property="task" javaType="com.intbyte.wizbuddy.task.domain.entity.Task">-->
<!--            <id property="taskCode" column="TASK_CODE"/>-->
<!--            &lt;!&ndash; Task 엔티티의 다른 필드들 매핑 가능 &ndash;&gt;-->
<!--        </association>-->

<!--        &lt;!&ndash; 외래 키 매핑 (CheckList 엔티티와 연결) &ndash;&gt;-->
<!--        <association property="checkList" javaType="com.intbyte.wizbuddy.checklist.domain.entity.CheckList">-->
<!--            <id property="checkListCode" column="CHECKLIST_CODE"/>-->
<!--            &lt;!&ndash; CheckList 엔티티의 다른 필드들 매핑 가능 &ndash;&gt;-->
<!--        </association>-->

<!--        &lt;!&ndash; 일반 외래 키 매핑 (Employee 엔티티와 연결) &ndash;&gt;-->
<!--        <association property="employee" javaType="com.intbyte.wizbuddy.employee.domain.entity.Employee" column="EMPLOYEE_CODE" />-->
<!--    </resultMap>-->
<!--&lt;!&ndash;    <select id="findAllTaskPerCheckList" resultMap="taskPerChecklistResultMap">&ndash;&gt;-->
<!--&lt;!&ndash;        SELECT * FROM taskperchecklist&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->

</mapper>