<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intbyte.wizbuddy.mapper.UserAndEmployerMapper">
    <resultMap id="userResultMap" type="com.intbyte.wizbuddy.user.domain.entity.User">
        <id property="userCode" column="user_code"/>
        <result property="userType" column="user_type"/>

        <collection property="employer" javaType="com.intbyte.wizbuddy.user.domain.entity.Employer">
            <id property="employerCode" column="employer_code"/>
            <result property="employerName" column="employer_name"/>
            <result property="employerEmail" column="employer_email"/>
            <result property="employerPassword" column="employer_password"/>
            <result property="employerPhone" column="employer_phone"/>
            <result property="employerFlag" column="employer_flag"/>
            <result property="employerBlackState" column="employer_black_state"/>
            <result property="createdAt" column="created_at"/>
            <result property="updatedAt" column="updated_at"/>
        </collection>

    </resultMap>

    <insert id="insertUser" parameterType="com.intbyte.wizbuddy.user.domain.SignInUserInfo" useGeneratedKeys="true" keyProperty="userCode">
        INSERT INTO users(user_type)
        VALUES(
              #{ userType }
              )
    </insert>

    <insert id="insertEmployer" parameterType="com.intbyte.wizbuddy.user.domain.RegisterEmployerInfo" useGeneratedKeys="true" keyProperty="employerCode">
        INSERT INTO employer(employer_code, employer_name, employer_email, employer_password, employer_phone, employer_flag, employer_black_state, created_at, updated_at)
        VALUES(
              #{ employerCode },
              #{ employerName },
              #{ employerEmail },
              #{ employerPassword },
              #{ employerPhone },
              #{ employerFlag },
              #{ employerBlackState },
              #{ createdAt },
              #{ updatedAt }
              )
    </insert>



</mapper>