<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intbyte.wizbuddy.mapper.WeeklyScheduleMapper">
    <resultMap id="scheduleResultMap" type="com.intbyte.wizbuddy.schedule.domain.entity.WeeklySchedule">
        <id property="scheduleCode" column="schedule_code"/>
        <result property="scheduleFlag" column="schedule_flag"/>
        <result property="scheduleStartDate" column="schedule_start_date"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="selectAllSchedules" resultMap="scheduleResultMap">
        SELECT
               A.schedule_code
             , A.schedule_flag
             , A.schedule_start_date
             , A.created_at
             , A.updated_at
          FROM weekly_schedule A
    </select>

<!--    <select id="findScheduleCode" resultMap="scheduleResultMap" parameterType="int">-->
<!--        SELECT-->
<!--               A.schedule_code-->
<!--             , A.schedule_flag-->
<!--             , A.schedule_start_date-->
<!--             , A.created_at-->
<!--             , A.updated_at-->
<!--          FROM weekly_schedule A-->
<!--         WHERE A.schedule_code = #{scheduleCode}-->
<!--    </select>-->

    <select id="findScheduleByStartDate" resultMap="scheduleResultMap" parameterType="java.time.LocalDate">
        SELECT
             A.schedule_code
           , A.schedule_flag
           , A.schedule_start_date
           , A.created_at
           , A.updated_at
        FROM weekly_schedule A
        WHERE A.schedule_start_date = #{scheduleStartDate}
          AND A.schedule_flag=true
    </select>

<!--    <select id="selectLastScheduleCode" resultMap="scheduleResultMap">-->
<!--        SELECT-->
<!--               A.schedule_code-->
<!--          FROM weekly_schedule A-->
<!--         ORDER BY A.schedule_code DESC-->
<!--         LIMIT 1-->
<!--    </select>-->
</mapper>