<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intbyte.wizbuddy.comment.query.domain.repository.CommentMapper">
    <resultMap id="CommentResultMap" type="com.intbyte.wizbuddy.comment.query.domain.aggregate.Comment">
        <id property="commentCode" column="COMMENT_CODE"/>
        <result property="commentContent" column="COMMENT_CONTENTS"/>
        <result property="commentFlag" column="COMMENT_FLAG"/>
        <result property="commentAdoptedState" column="COMMENT_ADOPTED_STATE"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="subsCode" column="SUBS_CODE"/>
        <result property="employeeCode" column="EMPLOYEE_CODE"/>
        <result property="shopCode" column="SHOP_CODE"/>
    </resultMap>

    <select id="selectAllComment" resultMap="CommentResultMap" >
        SELECT
        C.COMMENT_CODE
        , C.COMMENT_CONTENTS
        , C.COMMENT_FLAG
        , C.COMMENT_ADOPTED_STATE
        , C.CREATED_AT
        , C.UPDATED_AT
        , C.SUBS_CODE
        , C.EMPLOYEE_CODE
        , C.SHOP_CODE
        FROM COMMENTS C
        ORDER BY C.CREATED_AT DESC
    </select>

    <select id="selectCommentById" resultMap="CommentResultMap" >
        SELECT
        C.COMMENT_CODE
        , C.COMMENT_CONTENTS
        , C.COMMENT_FLAG
        , C.COMMENT_ADOPTED_STATE
        , C.CREATED_AT
        , C.UPDATED_AT
        , C.SUBS_CODE
        , C.EMPLOYEE_CODE
        , C.SHOP_CODE
        FROM COMMENTS C
        WHERE C.COMMENT_CODE = #{ commentCode }
    </select>


    <select id="selectCommentByEmployeeCode" resultMap="CommentResultMap" parameterType="String">
        SELECT
        C.COMMENT_CODE
        , C.COMMENT_CONTENTS
        , C.COMMENT_FLAG
        , C.COMMENT_ADOPTED_STATE
        , C.CREATED_AT
        , C.UPDATED_AT
        , C.SUBS_CODE
        , C.EMPLOYEE_CODE
        , C.SHOP_CODE
        FROM COMMENTS C
        JOIN EMPLOYEE E ON C.EMPLOYEE_CODE = E.EMPLOYEE_CODE
        WHERE E.EMPLOYEE_CODE = #{employeeCode}
        AND C.COMMENT_FLAG = TRUE
        ORDER BY C.CREATED_AT DESC
    </select>


    <select id="selectCommentBySubsCode" resultMap="CommentResultMap" parameterType="int">
        SELECT
        C.COMMENT_CODE
        , C.COMMENT_CONTENTS
        , C.COMMENT_FLAG
        , C.COMMENT_ADOPTED_STATE
        , C.CREATED_AT
        , C.UPDATED_AT
        , C.SUBS_CODE
        , C.EMPLOYEE_CODE
        FROM COMMENTS C
        JOIN SUBSTITUTION_BOARD S ON C.SUBS_CODE = S.SUBS_CODE
        WHERE S.SUBS_CODE = #{subsCode}
        AND C.COMMENT_FLAG = TRUE
        ORDER BY C.CREATED_AT DESC
    </select>


</mapper>