<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intbyte.wizbuddy.user.query.repository.EmployeeMapper">
    <resultMap id="employeeResultMap" type="com.intbyte.wizbuddy.user.command.domain.aggregate.EmployeeAdditional">
        <id property="userCode" column="employee_code"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="employeeWage" column="employee_wage"/>
        <result property="employeeHealthDate" column="employee_health_date"/>
    </resultMap>

    <select id="getAllEmployeeDetail" resultMap="employeeResultMap">
        SELECT
               employee_code
             , latitude
             , longitude
             , employee_wage
             , employee_health_date
          FROM employeeAdditional
    </select>

    <select id="getEmployeeDetail" resultMap="employeeResultMap" parameterType="string">
        SELECT
               employee_code
             , latitude
             , longitude
             , employee_wage
             , employee_health_date
          FROM employeeAdditional
    </select>
</mapper>