<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intbyte.wizbuddy.user.query.repository.EmployerMapper">
    <resultMap id="employerResultMap" type="com.intbyte.wizbuddy.user.command.domain.aggregate.UserEntity">
        <id property="userCode" column="user_code"/>
        <result property="userType" column="user_type"/>
        <result property="userName" column="user_name"/>
        <result property="userEmail" column="user_email"/>
        <result property="userPassword" column="user_password"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userFlag" column="user_flag"/>
        <result property="userBlackState" column="user_black_state"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getAllEmployer" resultMap="employerResultMap">
        SELECT
        e.employer_code
        , e.employer_name
        , e.employer_email
        , e.employer_password
        , e.employer_phone
        , e.employer_flag
        , e.employer_black_state
        , e.created_at
        , e.updated_at
        FROM user
        WHERE e.employer_flag = true
    </select>
</mapper>